
    <div class="container" align="center">
        <br>

        <a href="/"><button type="button" class="btn btn-dark">INICIO</button></a>
        <a href="cadastro"><button type="button" class="btn btn-dark">CADASTRO</button></a>
        <a href="lista"><button type="button" class="btn btn-dark">LISTA</button></a>
        <a href="lista"><button type="button" class="btn btn-dark">EDITAR</button></a>
       
        
</div>

    
<br><br>
   <h1 align="center">AGENDA</h1>
   <div class="container" align="center">
    <br><br>
    <p ALIGN="center" font color="white"><img src="https://i.ibb.co/kmPWrmN/logo.png" class="img-fluid" alt="Imagem responsiva"></p> <br><br>
    <br><br><br>






